.card {
  border-radius: 0.5rem;
}

.bg-primary { background-color: #0d6efd; }
.bg-warning { background-color: #ffc107; }
.bg-success { background-color: #198754; }
.bg-danger { background-color: #dc3545; }
