.container-fluid {
  padding-top: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.card-header {
  font-weight: bold;
}

canvas {
  /* Para que se vea responsive */
  width: 100% !important;
  height: auto !important;
}
